.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 1240px;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    transition: all 0.3s ease;
    z-index: 1000;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.visible {
    transform: translate(-50%, 0);
    opacity: 1;
}

.hidden {
    transform: translate(-50%, -120%);
    opacity: 0;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.2s ease;
}

.links a:hover {
    color: #000;
}

.active {
    color: var(--accent-color) !important;
    font-weight: 600;
}

.navbar>span {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: var(--subtitle-weight);
    transform: translateY(-1px);
}