:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #FFFDFB;
  /* 背景色 - 温柔近白 */
  --theme-color: #ff8ba6;
  /* 主题色 - 浅粉 */
  --accent-color: #f16596;
  /* 强调/链接色 - 粉色 */
  --heading-color: #333;
  /* 主标题颜色 - 深灰 */
  --text-color: #555;
  /* 副标题/正文颜色 - 中灰 */
  --subtext-color: #666;
  --light-gray: #AAA;
  /* 浅灰色，用于辅助文字 */
  --white-color: #FFF;
  /* 纯白色 */

  --heading-weight: 700;
  /* 标题字体粗细 */
  --subtitle-weight: 600;
  /* 副标题字体粗细 */
  --text-weight: 500;
  /* 正文字体粗细 */

  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* 更直观的盒模型 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  /* 链接颜色将自动更新为粉色 */
  transition: color 0.3s ease;
}

a:hover {
  color: var(--theme-color);
  /* 悬停颜色将自动更新为浅粉色 */
}

a.no-color-link {
  color: var(--text-color);
}

a.no-color-link:hover {
  color: var(--accent-color);
}

html {
  scroll-behavior: smooth;
  /* 页面内锚点跳转平滑滚动 */
}

h1 {
  font-size: 48px;
  color: var(--heading-color);
}

.text {
  font-family: 'Quicksand', 'HarmonyOS Sans', sans-serif;
  color: var(--text-color);
}

.subtext {
  font-family: 'Quicksand', 'HarmonyOS Sans', sans-serif;
  color: var(--subtext-color);
  font-size: .9em !important;
}

.interact {
  font-family: 'Quicksand', 'Lovely', sans-serif;
}

#copyleft {
  display: inline-block;
  transform: scaleX(-1);
}